body {
    margin: 0;
    cursor: default;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
position: relative;
    margin-top: 10px;
    height: 100px;
    text-align: center;
    display: flex;
    vertical-align: center;
    justify-content:space-around;
    align-items: center;
    margin: 50px;
}
span#logo {
    cursor:pointer;
    margin-top: 50px;
    font-weight: bold;
    font-size: 30px;
    display: inline-block;
}
span#logo:hover {
    text-shadow: 10px 10px 10px  #c8c8c8;
}
span#logo>h6 {
    font-weight: lighter;
    font-size: 15px;
    margin-top: 5px;
}

ul#navbar {
    margin-left: 100px;
    display: inline-block;
}

ul#navbar>li {
    margin-right: 50px;
    font-size: 25px;
    display: inline-block;
    color: black;
    list-style: none;
    padding: 10px;
}

ul#navbar>li#home {
    width: fit-content;
    border-bottom: 3px solid black;
}

div.search {
    display: inline-block;
    margin-left: 400px;
}

a {
    color: black;
    text-decoration: none;
}

ul#navbar>li:hover {
    cursor: pointer;
    font-weight: bold;
    border-bottom: 3px solid black;

    padding-bottom: 0px;
    
    transition: padding-bottom ease-out  1s;
   
}

/* 내용부분 디자인 */
article {
    display: flex;  
    /* flex를 이용하여, 화면구성을 진행한다. 수업시간엔 배우지 않았지만,  */
    justify-content:space-around;
    align-items: center;
    
    background-color: rgba(100, 100, 100, 0.3);
    position: relative;
    text-align: left;
}
article >input{
    margin-left: 30px;
    margin-right: 30px;
}
article>img {
    margin: 50px;
    width: 600px;
    height: 400px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px 3px rgba(10,10,10, 0.3);
}
span#mv2Post{
    font-weight: lighter;
    
}
h4#tag{
    box-shadow: 1px 1px 1px 1px rgba(10,10,10, 0.3);
    cursor: default;
    background-color: rgba(255, 255, 255, 0.8);
    width: fit-content;
    padding: 5px;
    border-radius: 2px 2px 2px 2px;
}
span#mv2Post:hover{
    cursor: pointer;
    padding-bottom: 3px;
    font-weight: bold;
    transition: border-bottom, padding-bottom  ease-out  0.2s;
    border-bottom: 1px solid black;
}
div.texts{
    width: 500px;
}

/* 동그라미 리스트 */
div.circles{
    width: 100%;
    text-align: center;
}
div.circles > div:hover{
    cursor: pointer;
}

/* footer에 관한 디자인 */
footer {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
}