body {
    margin: 0;
    cursor: default;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* 헤더 */
header {
    position: relative;
    margin-top: 10px;
    height: 100px;
    text-align: center;
    display: flex;
    vertical-align: center;
    justify-content: space-around;
    align-items: center;
    margin: 50px;
}

span#logo {
    cursor:pointer;
    margin-top: 50px;
    font-weight: bold;
    font-size: 30px;
    display: inline-block;
}
span#logo:hover {
    text-shadow: 10px 10px 10px  #c8c8c8;
}
span#logo>h6 {
    font-weight: lighter;
    font-size: 15px;
    margin-top: 5px;
}

ul#navbar {
    margin-left: 100px;
    display: inline-block;
}

ul#navbar>li {
    margin-right: 50px;
    font-size: 25px;
    display: inline-block;
    color: black;
    list-style: none;
    padding: 10px;
}

ul#navbar>li#home {
    width: fit-content;
    border-bottom: 3px solid black;
}

div.search {
    padding-right: 10px;
    background-color: #c8c8c8;
    display: inline-block;
    border-radius: 5px;
    margin-left: 400px;
}

.search>input#search_bar:focus{
    outline: none;
}
.search>input#search_bar{
    background-color: #c8c8c8;
    padding-left: 20px;
    border-radius: 5px;
    border: none;
    vertical-align: middle;
    height: 32px;
}
.search>input#imgBtn {
    vertical-align: middle;
    background: url('./imgs/icon_search.png') no-repeat;
    background-size: cover;
    border: none;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

/* a태그 색변경되는거 막기 */
a {
    color: black;
    text-decoration: none;
}

ul#navbar>li:hover {
    cursor: pointer;
    font-weight: bold;
    border-bottom: 3px solid black;
    padding-bottom: 0px;
    transition: padding-bottom ease-out 1s;

}


#main-aside {
    float: right;
    width: fit-content;
    height: fit-content;
    margin-right: 100px;
    border-radius: 30px;
    padding: 20px 100px 20px 50px;
    border: 1px solid rgba(0, 0, 0, 0);
    background-color: rgba(100, 100, 100, 0.3);
}
div#center{
    width: 100%;
    height: fit-content;
}
#main-aside>div>ul>li {
    list-style: inside;
    margin-bottom: 10px;
    font-weight: lighter;
    cursor: pointer;
}
#main-aside>div>ul>li:hover{
    width: fit-content;
    font-weight: bold;
    color: white;
    transition: all ease-out 0.2s;
}

#main-section {
    float: left;
    width: 710px;
    height: max-content;
    margin-left: 200px;
}

/* 본문 추가하기(사이드 메뉴) */
article {
    width: fit-content;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom:20px ;
    margin: 0 10px 20px 30px;
    text-align: left;
    border-bottom: 3px solid #c8c8c8;
}

article:hover {
    cursor: pointer;
    background-color: #c8c8c8;
}

.article-header {
    padding: 0px 10px;
}

.article-title {
    margin: 0;
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 10px;
}
.article-date{
    margin-top: 10px;
    font-weight: 500;
    font-style: italic;
}

h2#category {
    padding-bottom: 10px;
    width: 250px;
    border-bottom: 2px solid #c8c8c8;
}
h4#tag{
    box-shadow: 1px 1px 1px 1px rgba(10,10,10, 0.3);
    cursor: default;
    background-color: rgba(200, 200, 200, 0.8);
    width: fit-content;
    padding: 5px;
    border-radius: 2px 2px 2px 2px;
}

.article-body {
    font-size: 14px;
    text-align: left;
}

img#postImg {
    margin-bottom: 10px;
    height: 200px;
    width: 710px;
    object-fit: cover;
    box-shadow: 3px 3px 10px 3px rgba(10, 10, 10, 0.3);
}

/* footer에 관한 디자인 */
footer {
    height: fit-content;
    margin-bottom: 10px;
    text-align: center;
}

div#main-footer {
    width: 100%;
    padding-top: 200px;
    text-align: center;
    display: inline-block;
}